<%- include('../../layouts/header.ejs') %>
<%- include('../../layouts/navbar.ejs') %>
    <!-- breadcrumb start -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                <li class="breadcrumb-item"><a href="/admin/categories">Categorias</a></li>
                <li class="breadcrumb-item active" aria-current="page">Alterar Categoria</li>
            </ol>
        </nav>
    <!-- breadcrumb end -->

    <!-- content start -->
        <div class="container">
            <h2>Alterar Categoria</h2>
            <form action="/admin/categories/<%= category.id %>" method="POST" class="form form-horizontal">
                <input type="hidden" name="_method" value="put" />
                <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" name="title" class="form-control form-control-sm" value="<%= category.title %>" required autofocus>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Alterar Categoria</button>
            </form>
        </div>
    <!-- content end -->
<%- include('../../layouts/scripts.ejs') %>
    <!-- custom scripts -->
<%- include('../../layouts/footer.ejs') %>