<%- include('../../layouts/header.ejs') %>
<%- include('../../layouts/site/navbar.ejs') %>
    <!-- breadcrumb start -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    <!-- breadcrumb end -->
    <!-- content start -->
        <div class="container">
            <h2><%= article.title %></h2>
            <%- article.body %>
        </div>
    <!-- content end -->
<%- include('../../layouts/scripts.ejs') %>
<%- include('../../layouts/footer.ejs') %>